<template>
    <div>
        
            <input type="file" @change="uploadImage($event)" accept="image/*" :class="status">
            
    </div>
</template>

<script>
import Axios from 'axios';

export default {
    data(){
        return {
            image: null,
            status: 'resting'
        }
    },
    props: ['apiToken'],
    methods: {
        uploadImage(e){
            const file = e.target.files[0];
            const url = '/api/images?api_token=' + this.apiToken;
            let data = new FormData();
            data.append('image', file);

            let config = {
                header: {
                    'Content-Type': e.target.files[0].type,
                }
            }

            Axios.post(url, data, config).then(response => {
                console.log('Response', response);
                if (response.status == 201){
                    this.status == 'created';
                }
            });
        }
    }
}
</script>

<style scoped>
    input{
        border-width: 0;
        transition: all 250ms;
            }

    .resting{
        border-color: grey;
        border-width: 0;
    }
    .created{
        border-color: green;
    }

</style>